@font-face {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-caption-v10-latin-regular.eot");
  src: local("PT Sans Caption"), local("PTSans-Caption"),
    url("../fonts/pt-sans-caption-v10-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pt-sans-caption-v10-latin-regular.woff2") format("woff2"),
    url("../fonts/pt-sans-caption-v10-latin-regular.woff") format("woff"),
    url("../fonts/pt-sans-caption-v10-latin-regular.ttf") format("truetype"),
    url("../fonts/pt-sans-caption-v10-latin-regular.svg#PTSansCaption") format("svg");
}
@font-face {
  font-family: "PT Sans Caption";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-caption-v10-latin-700.eot");
  src: local("PT Sans Caption Bold"), local("PTSans-CaptionBold"),
    url("../fonts/pt-sans-caption-v10-latin-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pt-sans-caption-v10-latin-700.woff2") format("woff2"),
    url("../fonts/pt-sans-caption-v10-latin-700.woff") format("woff"),
    url("../fonts/pt-sans-caption-v10-latin-700.ttf") format("truetype"),
    url("../fonts/pt-sans-caption-v10-latin-700.svg#PTSansCaption") format("svg");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #fff;
}

body {
  color: #666;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.main-header {
  margin: 1em auto;
  max-width: 40rem;
  display: flex;
  align-items: center;
}
.main-header .logo {
  max-width: 170px;
  float: left;
  margin-right: 1em;
}
.main-header h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #ce9337;
  text-transform: uppercase;
  font-weight: 300;
}
.main-header .lead {
  font-weight: bold;
  margin-top: 0;
}
.clearfix {
  clear: both;
}

hr {
  height: 1px;
  border: none;
  border-bottom: 1px solid #ccc;
}
a {
  color: #ca8e0e;
  text-decoration: none;
}

a:hover {
  color: #a06e00;
  text-decoration: underline;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
}
.btn:hover {
  border: 1px solid #333;
  color: #696969;
}

.btn--block {
  display: block;
  width: 100%;
}
.btn-primary {
  color: white;
  background-color: #ca8e0e;
  border: none;
  text-transform: uppercase;
}
.btn-primary:hover {
  color: white;
  background-color: #a06e00;
  border: none;
}
.cards {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: -webkit-box;
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 25%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}
.card__content {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -webkit-filter: contrast(70%);
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 75%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 100%;
  }
}
.card__image--lufi {
  background-image: url(../img/chaton-chapeau.png);
}
.card__image--sondage {
  background-image: url(../img/chaton-ordi.png);
}
.card__image--jitsi {
  background-image: url(../img/chaton-casque.png);
}
.card__image--pad {
  background-image: url(../img/chaton-etherpad.png);
}
.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.random-instance {
  margin-bottom: 1em;
}
.btn.refresh {
  float: right;
  width: 24px;
  padding: 4px;
  height: 24px;
}
.btn.refresh img {
  vertical-align: top;
}

.flex-form {
  display: flex;
  width: 100%;
}
.flex-form .input {
  flex: 1;
}
.flex-form .btn {
  width: 55px;
}

.modal {
  display: block;
  padding: 0 1em;
  text-align: center;
  width: 100%;
}
@media (min-width: 43.75em) {
  .modal {
    padding: 0 2em 0em 2em;
    text-align: right;
  }
}

.modal > label {
  background: #fff;
  border-radius: 0.2em;
  color: #ca8e0e;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 0.5em 1em;
  padding: 0.75em 1.5em;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
}

.modal > label:hover {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.modal input {
  position: absolute;
  right: 100px;
  top: 30px;
  z-index: -10;
}

.modal__overlay {
  background: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -800;
}

.modal__box {
  padding: 1em 0.75em;
  position: relative;
  margin: 1em auto;
  max-width: 40em;
  width: 90%;
}
@media (min-height: 37.5em) {
  .modal__box {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
  }
}
@media (min-width: 50em) {
  .modal__box {
    padding: 1.75em;
  }
}

.modal__box label {
  background: #ca8e0e;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1.5em;
}

.modal__box h2 {
  color: #ca8e0e;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.modal__box p {
  color: #ca8e0e;
  text-align: left;
}

.modal__overlay {
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

input:checked ~ .modal__overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 800;
}

input:focus + label {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}
#modal,
.modal > label,
.hide {
  display: none;
}
